.custom-col {
  flex: 0 0 14%;
  max-width: 14%;
  margin-bottom: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.category-item {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 8px;
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}

.category-item:hover {
  background-color: #ddd;
}

.category-item.active {
  background-color: #ff6c16;
  color: white;
}

.checkmark {
  width: 60px !important;
  height: 60px !important;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: #4caf50;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4caf50;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: #4caf50;
  fill: none;
  animation: strokeCircle 1.5s ease-in-out forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: strokeCheck 1.5s 1s ease-in-out forwards;
  fill: none;
}

@keyframes strokeCircle {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes strokeCheck {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.image-menu {
  width: 80%;
  height: 250px;
  justify-items: center;
}

.image-menu-contents {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 0.5rem;
}

.image-menu-contents img {
  width: 100%;
  height: 100%;
}

.food-page-container {
  margin: 0px !important;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.category-section {
  max-width: 100%;
  height: 13vh;
  margin-bottom: 15px;
  font-size: 0.85em;
  overflow-x: hidden;
  overflow-y: hidden;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  padding: 8px 7px;
  cursor: pointer;
  background-color: white;
  border: 1px solid gray;
  color: #333;
  transition: background-color 0.2s ease-in-out;
}

.category-list li:hover {
  background-color: #ff5e2c;
  color: white;
  font-weight: bold;
}

.category-list li:active {
  background-color: tomato;
  color: white;
}

.food-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 2px solid #ddd;
  padding: 0 20px;
}

.out-of-stock {
  font-size: 0.7em !important;
}

.food-card {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  width: 125px;
  height: 330px;
  overflow: "hidden";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-card:hover {
  box-shadow: 0px 0px 10px #ff672b15;
  border: 1px solid tomato;
  transform: scale(1.04);
  cursor: pointer;
}

.food-item-img-container {
  width: 100%;
  height: 120px;
  border-radius: 15px;
  cursor: pointer;
}

.food-item-img-container .food-item-image {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
  object-fit: fill;
  transition: 0.6s;
  display: block;
}

.food-item-img-container:hover img {
  transform: scale(1.05);
}

.food-info {
  text-align: start;
  flex-grow: 1;
}

.food-info .food-name {
  color: #333;
  font-size: 0.85em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.food-price-and-quantity {
  font-size: 0.7em;
  margin: 10px 0;
}

.button-food-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.bt-add-to-cart,
.bt-buy-now {
  font-size: 0.6em;
  color: #888;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.bt-add-to-cart {
  background-color: #4caf50;
  color: #fff;
}

.bt-buy-now {
  background-color: tomato;
  color: #fff;
}

.bt-add-to-cart:hover,
.bt-buy-now:hover {
  background-color: #333;
  color: #fff;
}

.pagination-container-card {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  padding-right: 65px;
  border-radius: 0px 0px 15px 15px;
}

.custom-pagination-card {
  display: flex;
  gap: 10px;
  padding: 5px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-pagination-card .page-item .page-link {
  border-radius: 50%;
  padding: 8px 15px;
  margin: 0 3px;
  border: none;
  font-weight: 600;
  font-size: 0.8em;
  background-color: #f5f5f5;
  font-size: 0.8em;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.custom-pagination-card .page-item .page-link:hover {
  background-color: #ff7f50;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0px 3px 6px rgba(255, 127, 80, 0.4);
}

.custom-pagination-card .page-item.active .page-link {
  background: linear-gradient(135deg, #ff6600, #ff4500);
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(255, 69, 0, 0.4);
  transform: scale(1.05);
}

.custom-pagination-card .page-item:first-child .page-link,
.custom-pagination-card .page-item:last-child .page-link {
  border-radius: 8px;
  background-color: #ddd;
  color: #444;
  transition: all 0.3s ease-in-out;
}

.custom-pagination-card .page-item:first-child .page-link:hover,
.custom-pagination-card .page-item:last-child .page-link:hover {
  background-color: #ff6600;
  color: white;
  transform: scale(1.1);
}

.custom-pagination-card .page-item.disabled .page-link {
  background-color: #e0e0e0;
  color: #aaa;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

@media (max-width: 1253px) {
  .food-grid {
    gap: 5px;
  }
  .food-card {
    width: 124px;
  }
}

@media (max-width: 1244px) {
  .food-grid {
    gap: 15px;
  }
  .food-card {
    width: 125px;
  }
}

@media (max-width: 1173px) {
  .food-grid {
    gap: 10px;
  }
  .food-card {
    width: 125px;
  }
}

@media (max-width: 1138px) {
  .food-grid {
    gap: 5px;
  }
  .food-card {
    width: 125px;
  }
}

@media (max-width: 1104px) {
  .food-grid {
    gap: 5px;
  }
  .food-card {
    width: 123px;
    height: 205px;
  }
  .food-item-img-container {
    height: 100px;
  }
  .food-item-img-container .food-item-image {
    padding: 0px;
    border-radius: 5px;
  }
  .food-info .food-name {
    margin-top: 7px;
    font-size: 0.8em;
  }
  .food-price-and-quantity {
    font-size: 0.65em;
    margin: 5px 0;
  }
  .out-of-stock {
    font-size: 0.6em !important;
  }
  .button-food-card {
    gap: 4px;
    margin-bottom: 0px !important;
  }

  .bt-add-to-cart,
  .bt-buy-now {
    font-size: 0.55em;
    padding: 5px;
  }
}

@media (max-width: 1088px) {
  .food-card {
    width: 120px;
    height: 190px;
  }
  .food-item-img-container {
    height: 90px;
  }
  .food-item-img-container .food-item-image {
    padding: 0px;
    border-radius: 5px;
  }
  .food-info .food-name {
    margin-top: 7px;
    font-size: 0.8em;
  }
  .food-price-and-quantity {
    font-size: 0.65em;
    margin: 5px 0;
  }
  .out-of-stock {
    font-size: 0.6em !important;
  }
  .button-food-card {
    gap: 4px;
    margin-bottom: 0px !important;
  }

  .bt-add-to-cart,
  .bt-buy-now {
    font-size: 0.55em;
    padding: 5px;
  }
}

@media (max-width: 1064px) {
  .food-card {
    width: 115px;
    height: 185px;
  }
  .food-item-img-container {
    height: 85px;
  }
}

@media (max-width: 1129px) {
  .custom-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1025px) {
  .food-card {
    width: 115px;
    height: 185px;
  }
  .food-item-img-container {
    height: 85px;
  }
}

@media (max-width: 980px) {
  .custom-col {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 800px) {
  .card-img-top {
    height: 100px !important;
    padding: 8px !important;
  }
  .card-body h6 {
    font-size: 0.8em !important;
  }
  .card-body p {
    font-size: 0.7em !important;
  }
  .card-footer {
    padding-top: 0px !important;
  }
  .card-footer button {
    font-size: 0.6em !important;
    padding: 7px 10px !important;
  }
  .category-section {
    font-size: 0.7em;
  }
  .category-list {
    width: 200%;
  }
  .food-card {
    width: 20vw;
    height: 270px;
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  .custom-col {
    flex: 0 0 24%;
    max-width: 24%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 700px) {
  .custom-col {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 628px) {
  .card-footer {
    font-size: 0.8em;
  }
}

@media (max-width: 600px) {
  .category-section {
    font-size: 0.6em;
    overflow-y: visible;
  }
  .category-list {
    width: 200%;
  }
  .food-grid {
    gap: 5px;
    padding: 0px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .food-card {
    width: 22vw;
    height: 175px;
    border-radius: 5px;
  }
  .food-info .food-name {
    font-size: 0.7em !important;
  }
  .food-item-img-container {
    height: 80px;
  }
  .food-price-and-quantity {
    margin: 5px 0px;
  }
  .food-item-price,
  .food-item-quantity {
    font-size: 0.7em;
  }
  .bt-add-to-cart,
  .bt-buy-now {
    padding: 2px 5px;
    font-size: 0.5em;
  }
}

@media (max-width: 581px) {
  .card-footer {
    font-size: 0.7em;
  }
}

@media (max-width: 573px) {
  .custom-col {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-bottom: 0.1rem;
  }
}

@media (max-width: 530px) {
  .card-footer {
    font-size: 0.65em;
  }
}

@media (max-width: 518px) {
  .custom-col {
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .card-footer {
    font-size: 0.75em;
  }
}

@media (max-width: 481px) {
  .category-section {
    height: 16vh !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    padding: 30px 0px 0px 0px;
  }

  .category-section h5 {
    font-size: 1.8em;
  }
}

@media (max-width: 441px) {
  .card-footer {
    padding: 0px 5px 8px 5px !important;
  }

  .card-footer {
    font-size: 0.75em;
  }
}

@media (max-width: 423px) {
  .food-page-container {
    padding: 24px 5px !important;
  }
  .category-section {
    margin-left: 15px !important;
    height: 16vh !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  .card-footer {
    padding: 0px 5px 8px 5px !important;
  }
  .category-section h5 {
    font-size: 1.8em;
  }
}

@media (max-width: 423px) {
  .food-page-container {
    padding: 24px 5px !important;
  }
  .category-section {
    margin-left: 15px !important;
    height: 16vh !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
}

@media (max-width: 401px) {
  .card-footer {
    font-size: 0.85em;
  }
}

@media (max-width: 383px) {
  .custom-col {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-bottom: 0.1rem;
  }
}

@media (max-width: 383px) {
  .custom-col {
    flex: 0 0 48%;
    max-width: 48%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .category-list {
    gap: 0px !important;
  }
  .category-section {
    margin-left: 5px !important;
  }
}
