.checkmark {
  width: 60px !important;
  height: 60px !important;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: #4caf50;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4caf50;
  animation: scaleIn 2.5s ease-in-out forwards;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: #4caf50;
  fill: none;
  animation: strokeCircle 1.5s ease-in-out forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: strokeCheck 1.5s 1s ease-in-out forwards;
  fill: none;
}

@keyframes strokeCircle {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes strokeCheck {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.image-menu {
  width: 80%;
  height: 250px;
  justify-items: center;
}

.image-menu-contents {
  width: 100%;
  height: 100%;
}

.image-menu-contents img {
  width: 100%;
  height: 100%;
}

.food-page-container {
  display: flex;
  margin: auto;
  border-radius: 15px 15px 0px 0px;
}

.category-section {
  max-width: 200px;
  height: 100vh;
  font-size: 0.85em;
  overflow-y: auto;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  padding: 8px 7px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.2s ease-in-out;
}

.category-list li:hover {
  color: tomato;
  font-weight: bold;
}

.category-list li:active {
  background-color: tomato;
  color: white;
}

.food-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 2px solid #ddd;
  padding: 0 20px;
}

.out-of-stock {
  font-size: 0.7em !important;
}

.food-card {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  width: 125px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-card:hover {
  box-shadow: 0px 0px 10px #ff672b15;
  border: 1px solid tomato;
  transform: scale(1.04);
  cursor: pointer;
}

.food-item-img-container {
  width: 100%;
  height: 120px;
  border-radius: 15px;
  cursor: pointer;
}

.food-item-img-container .food-item-image {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
  object-fit: fill;
  transition: 0.6s;
  display: block;
}

.food-item-img-container:hover img {
  transform: scale(1.05);
}

.food-info {
  text-align: start;
  flex-grow: 1;
}

.food-info .food-name {
  color: #333;
  font-size: 0.85em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.food-price-and-quantity {
  font-size: 0.7em;
  margin: 10px 0;
}

.button-food-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.bt-add-to-cart,
.bt-buy-now {
  font-size: 0.6em;
  color: #888;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.bt-add-to-cart {
  background-color: #4caf50;
  color: #fff;
}

.bt-buy-now {
  background-color: tomato;
  color: #fff;
}

.bt-add-to-cart:hover,
.bt-buy-now:hover {
  background-color: #333;
  color: #fff;
}

.pagination-container-card {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  padding-right: 65px;
  border-radius: 0px 0px 15px 15px;
}

.custom-pagination-card {
  display: flex;
  gap: 10px;
  padding: 5px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-pagination-card .page-item .page-link {
  border-radius: 50%;
  padding: 8px 15px;
  margin: 0 3px;
  border: none;
  font-weight: 600;
  font-size: 0.8em;
  background-color: #f5f5f5;
  font-size: 0.8em;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.custom-pagination-card .page-item .page-link:hover {
  background-color: #ff7f50;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0px 3px 6px rgba(255, 127, 80, 0.4);
}

.custom-pagination-card .page-item.active .page-link {
  background: linear-gradient(135deg, #ff6600, #ff4500);
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(255, 69, 0, 0.4);
  transform: scale(1.05);
}

.custom-pagination-card .page-item:first-child .page-link,
.custom-pagination-card .page-item:last-child .page-link {
  border-radius: 8px;
  background-color: #ddd;
  color: #444;
  transition: all 0.3s ease-in-out;
}

.custom-pagination-card .page-item:first-child .page-link:hover,
.custom-pagination-card .page-item:last-child .page-link:hover {
  background-color: #ff6600;
  color: white;
  transform: scale(1.1);
}

.custom-pagination-card .page-item.disabled .page-link {
  background-color: #e0e0e0;
  color: #aaa;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

@media (max-width: 1253px) {
  .food-grid {
    gap: 5px;
  }
  .food-card {
    width: 124px;
  }
}

@media (max-width: 1244px) {
  .food-grid {
    gap: 15px;
  }
  .food-card {
    width: 125px;
  }
}

@media (max-width: 1173px) {
  .food-grid {
    gap: 10px;
  }
  .food-card {
    width: 125px;
  }
}

@media (max-width: 1138px) {
  .food-grid {
    gap: 5px;
  }
  .food-card {
    width: 125px;
  }
}

@media (max-width: 1104px) {
  .food-grid {
    gap: 5px;
  }
  .food-card {
    width: 123px;
    height: 205px;
  }
  .food-item-img-container {
    height: 100px;
  }
  .food-item-img-container .food-item-image {
    padding: 0px;
    border-radius: 5px;
  }
  .food-info .food-name {
    margin-top: 7px;
    font-size: 0.8em;
  }
  .food-price-and-quantity {
    font-size: 0.65em;
    margin: 5px 0;
  }
  .out-of-stock {
    font-size: 0.6em !important;
  }
  .button-food-card {
    gap: 4px;
    margin-bottom: 0px !important;
  }

  .bt-add-to-cart,
  .bt-buy-now {
    font-size: 0.55em;
    padding: 5px;
  }
}

@media (max-width: 1088px) {
  .food-card {
    width: 120px;
    height: 190px;
  }
  .food-item-img-container {
    height: 90px;
  }
  .food-item-img-container .food-item-image {
    padding: 0px;
    border-radius: 5px;
  }
  .food-info .food-name {
    margin-top: 7px;
    font-size: 0.8em;
  }
  .food-price-and-quantity {
    font-size: 0.65em;
    margin: 5px 0;
  }
  .out-of-stock {
    font-size: 0.6em !important;
  }
  .button-food-card {
    gap: 4px;
    margin-bottom: 0px !important;
  }

  .bt-add-to-cart,
  .bt-buy-now {
    font-size: 0.55em;
    padding: 5px;
  }
}

@media (max-width: 1064px) {
  .food-card {
    width: 115px;
    height: 185px;
  }
  .food-item-img-container {
    height: 85px;
  }
}

@media (max-width: 1025px) {
  .food-card {
    width: 115px;
    height: 185px;
  }
  .food-item-img-container {
    height: 85px;
  }
}

@media (max-width: 800px) {
  .category-section {
    font-size: 0.7em;
  }
  .category-list {
    width: 200%;
  }
  .food-card {
    width: 20vw;
    height: 270px;
    border-radius: 5px;
  }
}

@media (max-width: 600px) {
  .category-section {
    font-size: 0.6em;
    overflow-y: visible;
  }
  .category-list {
    width: 200%;
  }
  .food-grid {
    gap: 5px;
    padding: 0px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .food-card {
    width: 22vw;
    height: 175px;
    border-radius: 5px;
  }
  .food-info .food-name {
    font-size: 0.7em !important;
  }
  .food-item-img-container {
    height: 80px;
  }
  .food-price-and-quantity {
    margin: 5px 0px;
  }
  .food-item-price,
  .food-item-quantity {
    font-size: 0.7em;
  }
  .bt-add-to-cart,
  .bt-buy-now {
    padding: 2px 5px;
    font-size: 0.5em;
  }
}

@media (max-width: 480px) {
  .food-page-container {
    flex-direction: column;
  }

  .category-section {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 50px;
    margin-top: -35px;
    padding-left: 0px !important;
    margin-bottom: 15px;
  }

  .category-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    white-space: nowrap;
  }

  .category-list li {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
  }

  .category-list li:hover {
    background-color: tomato;
    color: white;
    font-weight: bold;
  }

  .category-list li:active {
    background-color: rgb(218, 0, 0);
    color: white;
  }

  .food-page-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .food-grid {
    padding: 0;
    border-left: none;
    width: 80vw;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .food-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 39vw;
    height: 185px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
  }

  .food-item-price,
  .food-item-quantity {
    font-size: 0.7em;
  }
  .bt-add-to-cart,
  .bt-buy-now {
    padding: 5px 5px;
  }
}

@media (max-width: 248px) {
  .bt-add-to-cart,
  .bt-buy-now {
    margin-bottom: 5px;
  }
  .food-card {
    width: 80vw;
    height: 198px;
    margin-bottom: 15px;
  }
  .food-item-img-container {
    height: 100px;
  }
  .image-menu-contents {
    height: 90px;
  }
  .image-menu {
    height: 90px;
  }
  .category-section {
    margin-bottom: -5px;
  }
  .category-list li {
    border: 1px solid tomato;
  }
}
