.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fff;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.product-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.product-quantity,
.product-price {
  font-size: 0.95rem;
}

.product-price {
  color: #28a745;
}

.button-both button {
  padding: 5px 20px;
  
  border: 1px solid;
  color: white;
  font-size: 0.9rem;
}

.button-both .button-cancer{
    background-color: rgba(237, 0, 0, 0.986);
}

.button-both .button-view-detail{
    background-color: green;
}
