.food-item {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
  background-color: white;
}

.food-item:hover {
  box-shadow: 0px 0px 10px #ff672b15;
  border: 1px solid tomato;
  transform: scale(1.04);
}

p {
  margin-bottom: 0 !important;
}

.food-item .food-item-img-container {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.food-item .food-item-img-container .food-item-image {
  width: 100%;
  height: 100%;
  padding: 1px;
  border-radius: 5px;
  object-fit: fill;
  display: block;
}

.food-item .food-item-img-container:hover img {
  transform: scale(1.07);
}

.food-item-info {
  padding: 5px 2px;
}

.food-item-name p {
  max-width: 100%;
  font-size: 0.8em;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.food-item-name p:hover {
  color: #555;
}

.price-and-quantity {
  margin-top: 5px;
  margin-bottom: 10px;
}

.food-item-info .food-item-price {
  color: red;
  font-size: 0.85em;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.food-item-info .food-item-quantity {
  font-size: 0.7em;
  font-weight: 500;
}

.button-in-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.button-in-item button {
  border: 1px solid rgb(255, 255, 255);
  padding: 5px 10px;
  color: white;
  font-size: 0.7em;
}

.button-in-item button:hover {
  background-color: rgb(250, 177, 164);
}

.button-in-item button:active {
  background-color: tomato;
}

.button-in-item .button-addtocart,
.button-in-item .button-buynow {
  cursor: pointer;
}

.button-in-item .button-addtocart {
  background-color: #4caf50;
}

.button-in-item .button-buynow {
  background-color: tomato;
}

a {
  text-decoration: none;
  color: inherit;
}

.popup-content h5 {
  color: green;
}

.original-price {
  text-decoration: line-through;
  color: #333;
  margin-right: 8px;
}

.discounted-price {
  color: red;
  font-weight: bold;
}

@media (max-width: 1281px) {
  .food-item {
    width: 95%;
    height: 200px;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .food-item .food-item-img-container {
    width: 100%;
    height: 100px;
    border-radius: 5px;
  }
  .food-item .food-item-img-container .food-item-image {
    padding: 0px;
    border-radius: 5px;
  }
  .food-item-name p {
    font-size: 1em;
  }
  .food-item-info .food-item-price {
    margin-top: -20px;
    font-size: 0.85em;
  }
  .food-item-info .food-item-quantity {
    margin-top: 0px !important;
    font-size: 0.8em;
  }
  .food-item button {
    display: none;
  }
}

@media (max-width: 1025px) {
  .food-item {
    width: 95%;
    height: 180px;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .food-item .food-item-img-container {
    width: 100%;
    height: 100px;
    border-radius: 5px;
  }
  .food-item .food-item-img-container .food-item-image {
    padding: 0px;
    border-radius: 5px;
  }
  .food-item-name p {
    font-size: 0.9em;
  }
  .food-item-info .food-item-price {
    margin-top: -20px;
    font-size: 0.75em;
  }
  .food-item-info .food-item-quantity {
    margin-top: 0px !important;
    font-size: 0.6em;
  }
  .food-item button {
    display: none;
  }
}

@media (max-width: 821px) {
  .food-item {
    width: 95%;
    height: 180px;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .food-item .food-item-img-container {
    width: 100%;
    height: 100px;
    border-radius: 5px;
  }
  .food-item .food-item-img-container .food-item-image {
    padding: 0px;
    border-radius: 5px;
  }
  .food-item-name p {
    font-size: 0.9em;
  }
  .food-item-info .food-item-price {
    margin-top: -20px;
    font-size: 0.75em;
  }
  .food-item-info .food-item-quantity {
    margin-top: 0px !important;
    font-size: 0.6em;
  }
  .food-item button {
    display: none;
  }
}

@media (max-width: 769px) {
  .food-item {
    width: 95%;
    height: 180px;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .food-item .food-item-img-container {
    width: 100%;
    height: 100px;
    border-radius: 5px;
  }
  .food-item .food-item-img-container .food-item-image {
    padding: 0px;
    border-radius: 5px;
  }
  .food-item-name p {
    font-size: 0.9em;
  }
  .food-item-info .food-item-price {
    margin-top: -20px;
    font-size: 0.75em;
  }
  .food-item-info .food-item-quantity {
    margin-top: 0px !important;
    font-size: 0.6em;
  }
  .food-item button {
    display: none;
  }
}

@media (max-width: 416px) {
  .food-item {
    width: 95%;
    height: 175px;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .food-item .food-item-img-container {
    width: 100%;
    height: 100px;
    border-radius: 5px;
  }
  .food-item .food-item-img-container .food-item-image {
    padding: 0px;
    border-radius: 5px;
  }
  .food-item-name p {
    font-size: 0.7em;
  }
  .food-item-info .food-item-price {
    margin-top: -20px;
    font-size: 0.75em;
  }
  .food-item-info .food-item-quantity {
    margin-top: 0px !important;
    font-size: 0.6em;
  }
  .food-item button {
    display: none;
  }
}

@media (max-width: 376px) {
  .food-item {
    width: 95%;
    height: 175px;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .food-item .food-item-img-container {
    width: 100%;
    height: 100px;
    border-radius: 5px;
  }
  .food-item .food-item-img-container .food-item-image {
    padding: 0px;
    border-radius: 5px;
  }
  .food-item-name p {
    font-size: 0.7em;
  }
  .food-item-info .food-item-price {
    margin-top: -20px;
    font-size: 0.75em;
  }
  .food-item-info .food-item-quantity {
    margin-top: 0px !important;
    font-size: 0.6em;
  }
  .food-item button {
    display: none;
  }
}
