.order-page {
  width: 90%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.order-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid #f0f0f0;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 14px;
}

.tab.active {
  border-bottom: 2px solid red;
  color: red;
  font-weight: bold;
}

.order-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.order-summary {
  margin-bottom: 15px;
}

.total-amount-size {
  font-size: 1.1rem;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 20px;
  flex-wrap: wrap;
}

.order-info {
  display: flex;
  align-items: center;
}

.order-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.order-details {
  display: flex;
  flex-direction: column;
}

.order-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.order-quantity {
  color: #555;
  font-size: 14px;
}

.order-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.price-highlight {
  color: red;
  font-weight: bold;
}

.contact-seller-btn {
  background: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-seller-btn:hover {
  background: darkred;
}

.order-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 14px;
}

.tab.active {
  border-bottom: 2px solid red;
  color: red;
  font-weight: bold;
}

@media (min-width: 1025px) {
  .order-page {
    width: 90%;
    margin: 0px auto;
  }
  .order-content {
    width: 90%;
    box-shadow: none;
    margin: auto;
    padding: 0;
    background: none;
  }
  .order-tabs {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
  }
  .status {
    justify-content: end;
  }
  .tab {
    padding: 8px;
    font-size: 12px;
  }

  .order-card {
    padding: 10px;
  }

  .order-summary,
  .total-amount-size,
  .status {
    font-size: 0.5em;
  }

  .total {
    padding-left: 0rem !important;
  }

  .status {
    padding-right: 0rem !important;
    display: flex;
  }

  .order-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .order-info {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .order-image {
    width: 50px;
    height: 50px;
  }

  .order-title {
    font-size: 12px;
  }

  .order-quantity {
    font-size: 12px;
  }

  .order-price {
    font-size: 12px;
    margin-left: auto;
  }

  .total-amount-size {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  .order-summary {
    font-size: 0.7em;
  }
  .status {
    font-size: 0.7em;
  }
  .contact-seller-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .order-page {
    width: 90%;
    margin: 0px auto;
  }
  .order-content {
    width: 90%;
    box-shadow: none;
    margin: auto;
    padding: 0;
    background: none;
  }
  .order-tabs {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
  }
  .order-summary {
    font-size: 0.7em;
  }
  .status {
    justify-content: end;
    font-size: 0.7em;
  }
  .tab {
    padding: 8px;
    font-size: 12px;
  }

  .order-card {
    padding: 10px;
  }

  .order-summary,
  .total-amount-size,
  .status {
    font-size: 0.5em;
  }

  .total {
    padding-left: 0rem !important;
  }

  .status {
    padding-right: 0rem !important;
    display: flex;
  }

  .order-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .order-info {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .order-image {
    width: 50px;
    height: 50px;
  }

  .order-title {
    font-size: 12px;
  }

  .order-quantity {
    font-size: 12px;
  }

  .order-price {
    font-size: 12px;
    margin-left: auto;
  }

  .total-amount-size {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }

  .contact-seller-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .order-page {
    width: 90%;
    margin: 0px auto;
  }
  .order-content {
    box-shadow: none;
    padding: 0;
    background: none;
  }
  .order-tabs {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
  }
  .status {
    justify-content: end;
  }
  .tab {
    padding: 8px;
    font-size: 12px;
  }

  .order-card {
    padding: 10px;
  }

  .order-summary,
  .total-amount-size,
  .status {
    font-size: 0.5em;
  }

  .total {
    padding-left: 0rem !important;
  }

  .status {
    padding-right: 0rem !important;
    display: flex;
  }

  .order-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .order-info {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .order-image {
    width: 50px;
    height: 50px;
  }

  .order-title {
    font-size: 12px;
  }

  .order-quantity {
    font-size: 12px;
  }

  .order-price {
    font-size: 12px;
    margin-left: auto;
  }

  .total-amount-size {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }

  .contact-seller-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .order-page {
    width: 90%;
    margin: 0px auto;
  }
  .order-content {
    box-shadow: none;
    padding: 0;
    background: none;
  }
  .order-tabs {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
  }
  .status {
    justify-content: end;
  }
  .tab {
    padding: 8px;
    font-size: 12px;
  }

  .order-card {
    padding: 10px;
  }

  .order-summary,
  .total-amount-size,
  .status {
    font-size: 0.5em;
  }

  .total {
    padding-left: 0rem !important;
  }

  .status {
    padding-right: 0rem !important;
    display: flex;
  }

  .order-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .order-info {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .order-image {
    width: 50px;
    height: 50px;
  }

  .order-title {
    font-size: 12px;
  }

  .order-quantity {
    font-size: 12px;
  }

  .order-price {
    font-size: 12px;
    margin-left: auto;
  }

  .total-amount-size {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }

  .contact-seller-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .order-page {
    width: 100%;
    margin: 0px;
  }
  .order-content {
    box-shadow: none;
    padding: 0;
    background: none;
  }
  .order-tabs {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
  }
  .status {
    justify-content: end;
  }
  .tab {
    padding: 8px;
    font-size: 12px;
  }

  .order-card {
    padding: 10px;
  }

  .order-summary,
  .total-amount-size,
  .status {
    font-size: 0.5em;
  }

  .total {
    padding-left: 0rem !important;
  }

  .status {
    padding-right: 0rem !important;
    display: flex;
  }

  .order-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .order-info {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .order-image {
    width: 50px;
    height: 50px;
  }

  .order-title {
    font-size: 12px;
  }

  .order-quantity {
    font-size: 12px;
  }

  .order-price {
    font-size: 12px;
    margin-left: auto;
  }

  .total-amount-size {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }

  .contact-seller-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .order-page {
    width: 100%;
    margin: 0px;
  }
  .order-content {
    box-shadow: none;
    padding: 0;
    background: none;
  }
  .order-tabs {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
  }

  .tab {
    padding: 8px;
    font-size: 12px;
  }

  .order-card {
    padding: 10px;
  }

  .order-summary,
  .total-amount-size,
  .status {
    font-size: 0.5em;
  }

  .total {
    padding-left: 0rem !important;
  }

  .status {
    padding-right: 0rem !important;
    display: flex;
  }

  .order-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .order-info {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .order-image {
    width: 50px;
    height: 50px;
  }

  .order-title {
    font-size: 12px;
  }

  .order-quantity {
    font-size: 12px;
  }

  .order-price {
    font-size: 12px;
    margin-left: auto;
  }

  .total-amount-size {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }

  .contact-seller-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .order-page {
    width: 100%;
    margin: 10px 0px;
  }
  .order-content {
    box-shadow: none;
    padding: 0;
    background: none;
  }
  .total-amount-size {
    font-size: 0.7em;
    padding-right: 0px !important;
  }
}
