.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.ic-chat {
  margin-bottom: 8px;
}

.chat-toggle {
  background-color: tomato;
  color: white;
  margin-right: 25px;
  font-size: 30px;
  border: none;
  padding: 10px 17px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-bot {
  width: 320px;
  height: 450px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: slideIn 0.3s ease-in-out;
}

.message.user {
  background: tomato;
  color: white;
  align-self: flex-end;
  padding: 5px 15px;
}

.message.staff {
  background: #dadada;
  color: black;
  border: 1px solid #ddd;
  align-self: flex-start;
  padding: 5px 15px;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.chat-header {
  background-color: tomato;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.close-chat {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 4px;
  transition: color 0.2s ease-in-out;
}

.close-chat:hover {
  color: darkred;
  background-color: tomato;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
}

.message {
  max-width: 80%;
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.user {
  background-color: tomato;
  align-self: flex-end;
  color: white;
}

.bot {
  background-color: #e0e0e0;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  align-items: center;
}

.chat-textarea::placeholder {
  line-height: 1.2;
}

.chat-textarea {
  flex: 1;
  max-height: 28px;
  min-height: 15px;
  resize: none;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: auto;
  font-size: 0.9em;
}

.chat-textarea:focus {
  border: 1px solid tomato;
  outline: none;
}

.ic-send {
  color: #333;
  width: 20px;
  height: 20px;
  margin-left: 7px;
}

.ic-send:hover {
  color: tomato;
  cursor: pointer;
}
