.header {
  height: 25vw;
  width: 100%;
  margin: 30px auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("fresh.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 15px;
  background-blend-mode: multiply;
  border: 1px solid gray;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 45%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: #333;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: #333;
  font-size: 1.4em;
}

.header-contents button {
  border: 1px solid tomato;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

@media (max-width: 1281px) {
  .header {
    margin-top: 10px !important;
  }
  .header h2 {
    font-size: 3.2em;
  }
  .header p {
    font-size: 1.4em;
  }
  .header button {
    padding: 5px 20px;
    font-size: 1.2em;
  }
}

@media (max-width: 1028px) {
  .header h2 {
    font-size: 2.8em;
  }
  .header p {
    font-size: 1em;
  }
  .header button {
    padding: 5px 20px;
    font-size: 0.9em;
  }
}

@media (max-width: 1025px) {
  .header {
    margin-top: 10px !important;
  }
  .header-contents {
    width: 320px;
  }
  .header h2 {
    font-size: 2.7em;
  }
  .header p {
    font-size: 1em;
  }
  .header button {
    padding: 5px 20px;
    font-size: 0.9em;
  }
}

@media (max-width: 854px) {
  .header {
    margin-top: 25px !important;
  }
  .header h2 {
    font-size: 2.1em;
  }
}

@media (max-width: 841px) {
  .header {
    margin-top: 20px !important;
  }
  .header h2 {
    font-size: 2.1em;
  }
}

@media (max-width: 821px) {
  .header h2 {
    font-size: 1.8em;
  }

  .header p {
    font-size: 1em;
  }

  .header button {
    padding: 4px 17px;
    font-size: 1em;
  }
}

@media (max-width: 769px) {
  .header {
    margin-top: 10px !important;
  }
  .header h2 {
    font-size: 1.8em;
  }
  .header p {
    font-size: 0.9em;
  }

  .header button {
    padding: 4px 17px;
    font-size: 0.8em;
  }
}

@media (max-width: 660px) {
  .header {
    margin-top: 10px !important;
  }
  .header h2 {
    font-size: 1.5em !important;
  }
  .header p {
    font-size: 0.9em;
  }

  .header button {
    padding: 4px 17px;
    font-size: 0.8em;
  }
}

@media (max-width: 620px) {
  .header h2 {
    font-size: 1.4em;
  }
}

@media (max-width: 610px) {
  .header h2 {
    font-size: 1.4em;
  }
  .header p {
    font-size: 0.8em;
  }
  .header button {
    padding: 4px 17px;
    font-size: 0.7em;
  }
}

@media (max-width: 575px) {
  .header h2 {
    font-size: 1.2em !important;
  }
  .header p {
    font-size: 0.8em;
  }
  .header button {
    padding: 4px 17px;
    font-size: 0.7em;
  }
}
@media (max-width: 520px) {
  .header h2 {
    font-size: 1.1em !important;
    padding-top: 5px;
  }
}

@media (max-width: 541px) {
  .header h2 {
    font-size: 1.2em;
  }
  .header p {
    font-size: 0.7em;
  }
  .header button {
    padding: 5px 15px;
    font-size: 0.7em;
  }
}

@media (max-width: 490px) {
  .header h2 {
    font-size: 1.1em;
  }
  .header p {
    font-size: 0.6em;
  }
  .header button {
    padding: 5px 15px;
    font-size: 0.5em;
  }
}

@media (max-width: 481px) {
  .header h2 {
    font-size: 0.9em !important;
  }
  .header p {
    font-size: 0.6em;
  }
  .header button {
    padding: 5px 15px;
    font-size: 0.5em;
  }
}

@media (max-width: 430px) {
  .header h2 {
    margin-bottom: -5px !important;
  }
  .header p {
    font-size: 0.65em !important;
  }

  .header button {
    padding: 2px 10px;
    font-size: 0.5em;
  }
}

@media (max-width: 420px) {
  .header h2 {
    font-size: 0.9em;
    margin-bottom: 0px !important;
  }
  .header p {
    font-size: 0.5em;
  }
  .header button {
    padding: 2px 10px;
    font-size: 0.5em;
  }
}

@media (max-width: 417px) {
  .header {
    height: 30vw;
  }
  .header h2 {
    font-size: 0.9em;
  }
  .header p {
    font-size: 0.5em;
  }
  .header button {
    padding: 2px 10px;
    font-size: 0.5em;
  }
}

@media (max-width: 376px) {
  .header {
    height: 35vw;
  }

  .header h2 {
    font-size: 0.9em;
  }

  .header p {
    font-size: 0.5em;
  }

  .header button {
    padding: 2px 10px;
    font-size: 0.5em;
  }
}

@media (max-width: 290px) {
  .header {
    height: 40vw;
  }
  .header h2 {
    font-size: 0.85em;
  }
}

@media (max-width: 275px) {
  .header {
    height: 40vw;
  }
  .header h2 {
    font-size: 0.8em;
  }
}

@media (max-width: 258px) {
  .header {
    height: 40vw;
  }
  .header h2 {
    font-size: 0.78em;
  }
}

@media (max-width: 251px) {
  .header {
    height: 40vw;
  }
  .header h2 {
    font-size: 0.75em;
  }
  .header button {
    padding: 2px 8px;
    font-size: 0.4em;
  }
}

@media (max-width: 242px) {
  .header {
    margin-top: -60px !important;
    height: 45vw;
  }
  .header h2 {
    font-size: 0.72em;
  }
}

@media (max-width: 233px) {
  .header h2 {
    font-size: 0.71em;
  }
}

@media (max-width: 210px) {
  .header h2 {
    font-size: 0.6em;
  }
}

@media (max-width: 193px) {
  .header h2 {
    font-size: 0.56em;
  }
}

@media (max-width: 181px) {
  .header h2 {
    font-size: 0.54em;
  }
}

@media (max-width: 175px) {
  .header h2 {
    font-size: 0.5em;
  }
}
