.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  z-index: 1000;
  --bs-navbar-padding-y: 0 !important;
}

.navbar-hidden {
  z-index: -1;
}

.navbar-menu li.active a {
  color: tomato;
}

.navbar-menu li a:hover {
  color: tomato;
}

.navbar-menu li a {
  color: #49557e;
  text-decoration: none;
}

.navbar .logo-navbar {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.navbar .logo-navbar img {
  height: 100%;
  cursor: pointer;
  padding-left: 60px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar .ic_search,
.navbar .ic_camera {
  font-size: 25px;
}

.ic_camera {
  margin-right: 6px;
}

.navbar .ic_basket {
  font-size: 35px;
}

.navbar ul {
  margin-bottom: 0;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 5px 40px 5px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  border-color: tomato;
}

.ic_search,
.ic_camera {
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.search-input:focus + .ic_search,
.search-input:focus + .ic_camera {
  color: tomato;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .active {
  color: tomato;
}

.navbar li {
  cursor: pointer;
}

.navbar .navbar-basket-icon {
  position: relative;
}

.navbar-right .ic_basket:hover,
.navbar-right .ic_search:hover,
.navbar-right .ic_camera:hover {
  color: tomato;
  cursor: pointer;
}

.navbar-right .ic_basket:active,
.navbar-right .ic_search:active,
.navbar-right .ic_camera:active {
  color: black;
}

.navbar .navbar-basket-icon .dot {
  position: absolute;
  min-width: 20px;
  min-height: 15px;
  color: white;
  font-size: 0.9em;
  background-color: tomato;
  border-radius: 50%;
  top: -8px;
  left: 30px;
}

.ic_basket {
  color: #4f4f4f;
}

.navbar-location-icon .ic_location {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  color: #4f4f4f;
}

.navbar-location-icon .ic_location:hover {
  color: tomato;
}

.navbar-location-icon .ic_location:active {
  color: black;
}

.dropdown-toggle::after {
  display: none !important;
}

.avatar-container {
  border: 2px solid white;
  transition: border 0.3s ease;
}

.avatar-container.active {
  border: 2px solid rgb(0, 198, 0);
}

.avatar-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid tomato;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -25px !important;
}

.avatar-container.selected {
  border-color: #ff7f00;
}

.avatar-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.avatar-img:hover {
  transform: scale(1.1);
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgb(255, 155, 137);
  color: #fff;
}

.dropdown-menu .dropdown-item.active {
  background-color: tomato;
  color: #fff;
}

.dropdown-menu .dropdown-item.active-link {
  background-color: tomato;
  width: 100%;
  color: #fff;
}

.hamburger-menu-btn {
  color: black !important;
  border: 1px solid tomato;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu-btn:hover {
  color: rgb(50, 50, 50) !important;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 153, 109);
}

.hamburger-menu-btn:focus {
  color: tomato !important;
  border: 1px solid #333;
  background-color: yellow;
  outline: none;
}

.hamburger-menu-btn:active {
  color: white !important;
  border: 1px solid red;
  background-color: red;
}

.hamburger-menu-btn:focus:not(:active) {
  color: rgb(50, 50, 50) !important;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 153, 109);
}

.button-login {
  margin-right: -50px;
}

@media (max-width: 1281px) {
  .navbar {
    height: 100px;
    width: 100% !important;
    align-items: center !important;
  }
  .navbar .logo-navbar img {
    width: 180px;
    height: 60px;
  }
  .navbar ul {
    font-size: 0.95em;
  }
  .search-container {
    width: 100% !important;
  }
  .search-input {
    padding: 10px 65px 10px 10px !important;
  }
  .ic_camera {
    margin-right: 10px;
  }
  .ic-search-out {
    margin-right: 5px !important;
  }
  .navbar-basket-icon {
    margin-right: -15px !important;
  }
  .user-menu .avatar-container {
    margin-right: -110px !important;
  }
}

@media (max-width: 1025px) {
  .navbar .logo-navbar img {
    width: 150px;
    padding-left: 30px;
  }
  .navbar ul {
    padding-left: 10px;
  }
  .form-control {
    font-size: 0.8em !important;
  }
}

@media (max-width: 960px) {
  .navbar .logo-navbar img {
    width: 130px;
    padding-left: 15px;
  }
  .navbar-menu {
    gap: 12px;
  }
  .button-login {
    margin-right: -30px;
  }
}

@media (max-width: 860px) {
  .user-menu .avatar-container {
    margin-left: -20px !important;
  }
  .navbar-basket-icon {
    margin-right: -10px !important;
  }
  .form-control {
    font-size: 0.8em !important;
  }
}

@media (max-width: 810px) {
  .navbar .logo-navbar img {
    width: 110px;
    padding-left: 0px;
  }
  .navbar ul {
    padding-left: 0px;
  }
  .navbar-menu {
    margin-left: -25px;
  }
}

@media (max-width: 769px) {
  .navbar {
    margin-top: -15px;
    height: 85px;
    width: 100% !important;
    align-items: center !important;
    justify-content: left !important;
    flex-direction: row;
  }
  .navbar .logo-navbar {
    width: 50px;
    margin-right: 80px;
    margin-left: 5px;
  }
  .navbar-menu {
    font-size: 0.9em;
    gap: 15px;
  }
  .search-input {
    width: 65%;
    margin-top: -100px;
    margin-left: 145px !important;
    height: 35px;
    font-size: 0.9em;
    margin-left: 15px;
  }
  .ic_search {
    margin-top: -52px !important;
    margin-left: -35px;
  }
  .ic_camera {
    margin-top: -107px;
    margin-right: 140px;
  }
  .navbar button {
    margin-left: 60px;
    padding: 3px 15px;
    font-size: 0.9em;
    align-content: center;
    margin-bottom: 5px;
  }
  .dropdown {
    margin-top: -102px;
    margin-left: 115px !important;
  }
  .ic_basket {
    margin-left: 0px;
    width: 33px;
    margin-top: -5px;
  }
  .avatar-container {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 32px;
  }
  .avatar-img {
    width: 33px;
    height: 33px;
  }
  .hamburger-menu-btn {
    font-size: 1em !important;
  }
  .dropdown {
    margin-right: 50px;
  }
  .user-menu .avatar-container {
    margin-left: 0px !important;
  }
  .hamburger-big {
    margin-right: -40px;
    margin-left: 0px !important;
  }
  .dropdown-menu.show {
    margin-right: -20px;
    padding: 0px !important;
  }
  .dropdown-menu-list {
    margin-right: 10px !important;
    margin-top: 7px !important;
    width: 50px !important;
  }
  .navbar .button-login {
    margin-right: 10px !important;
    margin-top: -75px !important;
    padding: 0px 5px !important;
    height: 48px !important;
  }
}

@media (max-width: 745px) {
  .dropdown {
    margin-top: -102px;
    margin-left: 102px !important;
  }
  .user-menu .avatar-container {
    margin-left: -15px !important;
  }
  .ic_camera {
    margin-top: -107px;
    margin-right: 130px;
  }
  .dropdown-menu.show {
    margin-right: -10px;
    margin-top: 5px;
  }
}

@media (max-width: 725px) {
  .user-menu .avatar-container {
    margin-left: -5px !important;
  }
}

@media (max-width: 720px) {
  .ic_camera {
    margin-top: -107px;
    margin-right: 120px;
  }
}

@media (max-width: 708px) {
  .navbar .logo-navbar {
    margin-left: 0px;
  }
}

@media (max-width: 700px) {
  .navbar .button-login {
    margin-right: 5px !important;
    height: 48px !important;
  }
}

@media (max-width: 690px) {
  .ic_camera {
    margin-top: -107px;
    margin-right: 110px;
  }
  .user-menu .avatar-container {
    margin-left: 2px !important;
  }
  .dropdown-menu.show {
    margin-right: -20px;
    margin-top: 5px;
  }
}

@media (max-width: 688px) {
  .search-input {
    width: 65%;
  }
  .ic_camera {
    margin-right: 110px;
  }
}

@media (max-width: 685px) {
  .navbar .button-login {
    margin-right: 5px !important;
    font-size: 0.8em;
    height: 48px !important;
  }
}

@media (max-width: 670px) {
  .search-input {
    width: 63%;
  }
  .ic_camera {
    margin-right: 115px;
  }
  .dropdown {
    margin-top: -102px;
    margin-left: 88px !important;
  }
  .user-menu .avatar-container {
    margin-left: -2px !important;
  }
}

@media (max-width: 645px) {
  .search-input {
    width: 62%;
  }
  .dropdown {
    margin-left: 82px !important;
  }
  .user-menu .avatar-container {
    margin-left: -2px !important;
  }
}

@media (max-width: 629px) {
  .dropdown {
    margin-left: -20px;
  }
}

@media (max-width: 625px) {
  .search-input {
    width: 60%;
  }
  .dropdown {
    margin-left: 70px !important;
  }
  .user-menu .avatar-container {
    margin-left: -2px !important;
  }
}

@media (max-width: 590px) {
  .search-input {
    width: 58%;
  }
  .dropdown {
    margin-left: 60px !important;
  }
  .ic_camera {
    margin-right: 119px;
  }
}

/* @media (max-width: 577px) {
  .navbar {
    height: 60px !important;
  }
  .navbar button {
    margin-top: -70px !important;
    font-size: 10px !important;
  }
  .dropdown button {
    margin-left: -15px !important;
  }
  .navbar .button-login {
    margin-top: -86px !important;
    padding: 0px 5px !important;
    height: 35px !important;
  }
  .navbar .ic_search {
    margin-top: -71px !important;
    font-size: 20px !important;
  }
  .navbar-right {
    margin-left: 95px !important;
  }
  .navbar .logo-navbar img {
    margin-top: -15px !important;
    width: 90px;
    height: 50px;
  }
  .search-input {
    width: 63% !important;
    margin-top: -140px !important;
    height: 30px !important;
    font-size: 0.75em !important;
  }
  .dropdown button{
    margin-left: 22px !important;
  }
  .dropdown{
    margin-left: 20px !important;
  }
  .ic_camera {
    margin-right: 119px;
  }
} */

@media (max-width: 576px) {
  .navbar {
    height: 65px !important;
  }
  .navbar-menu {
    font-size: 0.9em;
    gap: 15px;
  }
  .search-input {
    height: 30px !important;
    font-size: 0.75em !important;
    width: 75%;
    margin-top: 22px;
    margin-left: 30px !important;
  }
  .ic_search {
    margin-top: 9px !important;
    margin-left: -25px;
    font-size: 20px !important;
  }
  .ic_camera {
    margin-top: 19px;
    margin-right: 122px;
    font-size: 20px !important;
  }
  .navbar button {
    margin-left: 60px;
    padding: 3px 15px;
    font-size: 0.9em;
    align-content: center;
    margin-bottom: 5px;
  }
  .dropdown {
    margin-top: -70px;
    margin-left: 55px !important;
  }
  .ic_basket {
    margin-left: 0px;
    width: 33px;
    margin-top: -5px;
  }
  .avatar-container {
    width: 35px;
    height: 35px;
    margin-left: 30px;
    margin-top: 7px;
  }
  .avatar-img {
    width: 28px;
    height: 28px;
  }
  .hamburger-menu-btn {
    font-size: 1em !important;
  }
  .dropdown {
    margin-right: 50px;
  }
  .user-menu .avatar-container {
    margin-left: 0px !important;
  }
  .hamburger-big {
    margin-right: -40px;
    margin-left: 0px !important;
  }
  .dropdown-menu.show {
    margin-right: -20px;
    margin-top: 5px;
  }
  .navbar .button-login {
    margin-top: -40px !important;
    padding: 0px 5px !important;
    margin-right: 15px !important;
    height: 35px !important;
  }
  .navbar button {
    margin-top: 25px !important;
    font-size: 10px !important;
  }
}

@media (max-width: 550px) {
  .dropdown {
    margin-left: 50px !important;
  }
  .ic_camera {
    margin-right: 119px;
  }
}

@media (max-width: 520px) {
  .dropdown {
    margin-left: 45px !important;
  }
}

@media (max-width: 510px) {
  .dropdown {
    margin-left: 40px !important;
  }
  .ic_camera {
    margin-right: 111px;
  }
}

@media (max-width: 490px) {
  .dropdown {
    margin-left: 25px !important;
    margin-top: -48px;
  }
  .ic_camera {
    margin-right: 100px;
    margin-top: 20px;
  }
  .navbar {
    height: 60px;
  }
  .navbar button {
    margin-top: 5px !important;
    margin-left: 15px !important;
    font-size: 10px !important;
  }
  .avatar-container {
    width: 35px;
    height: 35px;
    margin-left: 30px;
    margin-top: 7px;
  }
  .avatar-img {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 480px) {
  .ic_camera {
    font-size: 18px !important;
    margin-right: 105px;
  }
  .navbar {
    height: 60px;
  }
  .search-input {
    font-size: 0.7em !important;
    width: 78%;
    margin-top: 22px;
    margin-left: 10px !important;
  }
  .ic_search {
    margin-top: 9px !important;
    margin-left: -25px;
    font-size: 17px !important;
  }
  .navbar .button-login {
    margin-top: -40px !important;
    padding: 0px 5px !important;
    margin-right: 15px !important;
    height: 35px !important;
    font-size: 0.6em !important;
  }
  .dropdown button {
    margin-left: 7px !important;
  }
  .avatar-container {
    width: 34px;
    height: 34px;
    margin-left: 30px;
    margin-top: 7px;
  }
  .avatar-img {
    width: 27px;
    height: 27px;
  }
}

@media (max-width: 455px) {
  .ic_camera {
    font-size: 18px !important;
    margin-right: 100px;
  }
  .dropdown {
    margin-left: 18px !important;
    margin-top: -48px;
  }
  .dropdown button {
    margin-left: 10px !important;
  }
}

@media (max-width: 440px) {
  .dropdown button {
    margin-left: 8px !important;
  }
}

@media (max-width: 433px) {
  .dropdown button {
    margin-left: 5px !important;
  }
}

@media (max-width: 430px) {
  .ic_camera {
    margin-right: 90px;
  }
  .dropdown {
    margin-left: 12px !important;
  }
  .dropdown button {
    margin-left: 10px !important;
  }
}

@media (max-width: 420px) {
  .ic_camera {
    margin-right: 90px;
  }
  .dropdown {
    margin-left: 12px !important;
  }
  .dropdown button {
    margin-left: 8px !important;
  }
}

@media (max-width: 410px) {
  .navbar {
    height: 55px !important;
  }
  .search-input {
    width: 74%;
    height: 25px !important;
    font-size: 0.6em !important;
  }
  .ic_search {
    margin-top: 10px !important;
    margin-left: -25px;
    font-size: 15px !important;
  }
  .ic_camera {
    font-size: 16px !important;
    margin-right: 100px;
  }
  .dropdown {
    margin-left: 2px !important;
  }
  .avatar-container {
    width: 28px;
    height: 28px;
    margin-left: 30px;
    margin-top: 7px;
  }
  .avatar-img {
    width: 21px;
    height: 21px;
  }
  .navbar button {
    padding: 5px !important;
  }
  .dropdown-menu.show {
    margin-right: -15px;
    margin-top: 5px;
    padding: 0px 2px;
    font-size: 0.9em;
  }
  .dropdown-item {
    padding: 3px 10px !important;
  }
  .navbar .button-login {
    margin-top: -25px !important;
    font-size: 0.58em !important;
    padding: 0px 7px !important;
    height: 25px !important;
  }
  .dropdown button {
    margin-top: 16px !important;
    height: 25px !important;
  }
}

@media (max-width: 385px) {
  .navbar .button-login {
    padding: 0px 5px !important;
  }
}

@media (max-width: 380px) {
  .search-input {
    width: 75%;
    margin-left: 10px !important;
    height: 22px !important;
  }
  .ic_camera {
    margin-right: 90px;
  }
  .user-menu .avatar-container {
    margin-left: 10px !important;
  }
  .navbar button {
    padding: 5px !important;
  }
}

@media (max-width: 360px) {
  .navbar .button-login {
    margin-right: 3px !important;
    padding: 0px 5px !important;
  }
}

@media (max-width: 355px) {
  .ic_camera {
    margin-right: 85px;
  }
  .dropdown button {
    margin-left: 5px !important;
  }
}

@media (max-width: 350px) {
  .ic_camera {
    margin-right: 85px;
  }
  .user-menu .avatar-container {
    margin-left: 12px !important;
  }
  .dropdown {
    margin-left: -2px !important;
  }
  .dropdown button {
    margin-left: 8px !important;
  }
}

@media (max-width: 340px) {
  .ic_camera {
    margin-right: 80px;
  }
  .dropdown button {
    margin-left: 5px !important;
  }
}

@media (max-width: 330px) {
  .search-input {
    width: 74%;
  }
  .ic_camera {
    margin-right: 80px;
  }
  .user-menu .avatar-container {
    margin-left: 12px !important;
  }
  .dropdown {
    margin-left: -12px !important;
  }
  .dropdown button {
    margin-left: 10px !important;
  }
  .dropdown-menu-list .dropdown-item {
    font-size: 0.8em;
  }
}

@media (max-width: 310px) {
  .ic_camera {
    margin-right: 75px;
  }
  .dropdown {
    margin-left: -15px !important;
  }
}

@media (max-width: 300px) {
  .search-input {
    width: 72%;
  }
  .dropdown button {
    margin-left: 5px !important;
  }
}

@media (max-width: 290px) {
  .ic_camera {
    margin-right: 75px;
  }
  .dropdown {
    margin-left: -20px !important;
  }
  .search-input {
    font-size: 0.8em;
  }
  .hamburger-menu-btn {
    font-size: 0.8rem !important;
  }
  .dropdown button {
    margin-left: 10px !important;
  }
}

@media (max-width: 285px) {
  .dropdown button {
    margin-left: 8px !important;
  }
}

@media (max-width: 275px) {
  .dropdown button {
    margin-left: 5px !important;
  }
}

@media (max-width: 270px) {
  .ic_camera {
    margin-right: 70px;
    font-size: 13px !important;
  }
  .dropdown {
    margin-left: -24px !important;
  }
  .search-input {
    font-size: 0.5em !important;
  }
  .ic_search {
    font-size: 13px !important;
    margin-left: -23px;
  }
  .hamburger-menu-btn {
    font-size: 0.8rem !important;
  }
  .navbar .button-login {
    margin-right: 5px !important;
    padding: 0px 3px !important;
    font-size: 0.5em !important;
  }
  .dropdown button {
    margin-left: 15px !important;
  }
  .user-menu .avatar-container {
    margin-left: 23px !important;
    margin-top: 7px;
  }
}

@media (max-width: 255px) {
  .ic_camera {
    margin-right: 63px;
    font-size: 13px !important;
  }
  .dropdown button {
    margin-left: 10px !important;
  }
  .avatar-container {
    width: 26px;
    height: 26px;
  }
  .avatar-img {
    width: 16px;
    height: 16px;
  }
}


@media (max-width: 250px) {
  .ic_camera {
    margin-right: 57px !important;
    font-size: 13px !important;
  }
  .ic_search {
    font-size: 12px !important;
    margin-left: -18px;
  }
  .user-menu .avatar-container {
    margin-left: 24px !important;
    margin-top: 8px !important;
  }
  .dropdown {
    margin-left: -19px !important;
    margin-top: -36px !important;
  }
  .avatar-container {
    
    width: 28px;
    height: 28px;
  }
  .avatar-img {
    width: 16px;
    height: 16px;
  }
  .hamburger-menu-btn {
    font-size: 10px !important;
  }
  .dropdown-menu.show {
    margin-right: -30px;
    margin-top: -5px;
    padding: 0px;
    font-size: 0.7em;
    width: 150px !important;
  }
  .dropdown-item {
    padding: 3px 10px !important;
  }
  .dropdown button {
    margin-left: 5px !important;
    margin-top: 2px !important;
  }
  .navbar .button-login-login {
    margin-top: -100px !important;
  }
}

@media (max-width: 230px) {
  .ic_camera {
    margin-right: 60px !important;
  }
  .dropdown {
    margin-left: -58px !important;
    margin-top: 12px !important;
  }
  .dropdown button {
    margin-top: 10px !important;
    margin-left: 8px !important;
  }
  .user-menu .avatar-container {
    margin-left: 230px !important;
    margin-top: -72px !important;
    position: fixed;
    z-index: 999;
  }
  .avatar-container {
    width: 22px;
    height: 22px;
  }
  .avatar-img {
    width: 12px;
    height: 12px;
  }
  .dropdown-menu.show {
    margin-left: 70px;
    margin-top: -20px;
    padding: 0px;
    font-size: 0.7em;
    width: 150px !important;
  }
  .dropdown-item {
    padding: 3px 10px !important;
  }
  .navbar .button-login {
    margin-right: -195px !important;
    padding: 0px 3px !important;
    font-size: 0.5em;
    height: 28px !important;
  }
}

@media (max-width: 220px) {
  .ic_camera {
    margin-right: 68px !important;
  }
  .search-input {
    width: 68%;
    margin-left: 5px !important;
  }
  .dropdown {
    margin-left: -57px !important;
    margin-top: 12px !important;
  }
  .user-menu .avatar-container {
    margin-left: 220px !important;
  }
  .navbar .button-login {
    margin-right: -190px !important;
    margin-top: -28px !important;
  }
  .dropdown button {
    margin-left: -5px !important;
    margin-top: 10px !important;
  }
}

@media (max-width: 215px) {
  .user-menu .avatar-container {
    margin-left: 217px !important;
  }
}

/* @media (max-width: 210px) {
  .ic_camera {
    margin-right: 58px !important;
  }
  .dropdown {
    margin-left: -58px !important;
    margin-top: 12px !important;
  }
  .user-menu .avatar-container {
    margin-left: 215px !important;
  }
  .avatar-container {
    width: 28px;
    height: 28px;
  }
  .avatar-img {
    width: 16px;
    height: 16px;
  }
  .navbar .button-login {
    margin-right: -185px !important;
  }
} */

@media (max-width: 203px) {
  .user-menu .avatar-container {
    margin-left: 211px !important;
  }
}

@media (max-width: 195px) {
  .navbar .button-login {
    margin-right: -180px !important;
  }
}

@media (max-width: 185px) {
  .navbar .button-login {
    margin-right: -175px !important;
  }
  .user-menu .avatar-container {
    margin-left: 207px !important;
  }
}

@media (max-width: 173px) {
  .navbar .button-login {
    margin-right: -170px !important;
    font-size: 0.45em;
  }
  .user-menu .avatar-container {
    margin-left: 200px !important;
  }
  .ic_camera {
    margin-right: 60px !important;
  }
}

@media (max-width: 160px) {
  .navbar .button-login {
    margin-right: -167px !important;
  }
}
