.website-name {
  color: tomato;
  font-weight: 700;
}

.font-size-default {
  font-size: 0.9em;
}

.ic_edit_order {
  width: 28px;
  height: 28px;
  transition: all 0.2s;
}

.ic_edit_order:hover {
  color: tomato;
  cursor: pointer;
  transform: scale(1.05);
}

.ic_edit_order:active {
  color: #555;
}

.font-size-top {
  font-size: 1.4rem;
}

.check-out-img-general {
  width: 4rem;
  height: 6rem;
}

.check-out-img {
  width: 100%;
  height: 65px;
  border-radius: 5px;
}

.checkout-badge {
  top: -5px;
  right: -10px;
  background-color: #4c4c4c;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.text-quantity {
  margin-top: -2px;
}

.name-product-order {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.total {
  font-size: 0.9em;
  color: #1c1c1b;
}

.total-price {
  font-size: 0.9em;
  color: #a1a1a1;
}

.checkout-form-wrapper {
  background-color: white;
}

.form-group-note .form-control-note {
  border-radius: 3px;
  margin-right: 15px;
  border: 1px solid #777777;
  width: 100%;
  height: 100px;
  padding: 12px;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.5;
  resize: vertical;
}

.form-group-note .form-control-note::placeholder {
  color: #aaa;
  font-size: 0.9rem;
}

.form-group .form-control {
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid black;
}

.form-group-voucher .form-control-coupon {
  border-radius: 3px;
  margin-right: 15px;
  border: 1px solid #777777;
  width: 100%;
  padding: 2px 12px;
}

.form-group-voucher input:focus,
.form-group-note input:focus {
  border: 1px solid tomato !important;
  outline: none;
}

.form-group-voucher button {
  width: fit-content;
  padding: 4px 15px;
  background-color: #555;
  color: white;
  border: 1px solid;
  font-size: 0.9rem;
  border-radius: 3px;
}

.form-group-voucher input::placeholder {
  color: #aaa;
  font-size: 0.9rem;
}

.form-group-voucher button:hover {
  background-color: #8b8b8b;
}

.form-group-voucher button:active {
  background-color: #555;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: tomato;
}

.input-note {
  width: 100%;
  outline: none;
}

.input-note:focus {
  border: 1px solid tomato;
}

.input-coupon {
  width: 100%;
}

.button-go-to-cart {
  color: #110600;
}

.price-checkout {
  float: right;
}

.form-group .input-group .input-checkout .form-control:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid var(--color-ff4000);
}

.popup-successful-order {
  border-radius: 10px;
}

.info-cod {
  font-weight: 500;
}

.button-order {
  width: fit-content;
  margin: auto;
}

.button-order button {
  padding: 5px 20px;
  background-color: tomato;
  border: 1px solid;
  color: white;
  font-size: 0.9rem;
}

.button-go-to-cart button {
  padding: 3px 15px;
  background-color: white;
  border: 1px solid #333;
  color: #333;
  font-size: 0.9rem;
  border-radius: 5px;
}

.button-go-to-cart button:hover {
  background-color: #333;
  border: 1px solid white;
  color: white;
}

.button-order button:hover {
  background-color: rgb(255, 145, 125);
}

.button-order button:active {
  background-color: tomato;
}

.popup-inner {
  border-radius: 10px;
}

.form-group .input-checkout-infor:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid tomato;
}

.flex-grow-1 .select-checkout-address {
  cursor: pointer;
}

.flex-grow-1 .select-checkout-address:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #538641;
}

.input-checkout .select-checkout-address:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #538641;
}

.payment {
  font-size: 0.9em;
}

.total-amount-price {
  font-size: 0.9em;
  color: rgb(255, 23, 23);
}

.button-buy {
  padding: 5px 20px;
  margin: 5px;
  border: none;
  background-color: rgb(38, 174, 0);
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.button-buy:hover {
  background-color: rgb(31, 142, 0);
}

.popup-order {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(108, 106, 106, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content-order {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  text-align: center;
}

@media (max-width: 1024px) {
  .checkout-form-wrapper {
    padding: 3px 5px !important;
  }
  .website-name {
    font-size: 0.8em;
    width: 100% !important;
    margin-top: 5px;
    margin-bottom: -9px !important;
  }
  .font-size-top {
    font-size: 0.8em;
  }
  .ic_edit_order {
    width: 15px;
    height: 15px;
  }
  .info-customer {
    padding: 0px 5px;
    margin-top: -15px;
  }
  .form-group label,
  .form-group-note label {
    font-size: 0.8em;
  }
  .form-group {
    margin-top: 5px !important;
  }
  .form-control {
    font-size: 0.7em;
    padding: 0px 5px;
  }
  .form-group-note {
    margin-top: 5px !important;
  }
  .form-group-note .form-control-note {
    font-size: 0.8em !important;
    padding: 2px 5px;
    height: auto;
  }
  .form-group-note textarea::placeholder {
    font-size: 0.9em !important;
  }
  .form-group-note textarea {
    font-size: 0.8em !important;
  }
  .form-group-voucher {
    margin-top: 0 !important;
  }
  .form-group-voucher input::placeholder {
    font-size: 0.9em !important;
    color: #888;
  }
  .form-group-voucher input {
    font-size: 0.8em !important;
    height: auto;
  }
  .form-group-voucher .form-control-coupon {
    padding: 0px 5px;
    margin-top: 0px !important;
  }
  .form-group-voucher button {
    font-size: 0.6em;
  }
  .payment-method {
    margin-top: 15px !important;
  }
  .payment-method h5 {
    font-size: 0.9em;
  }
  .form-check {
    font-size: 0.8em;
  }
  .button-go-to-cart button {
    padding: 2px 5px;
    font-size: 0.8em;
  }
  .button-go-to-cart {
    margin-top: -25px;
  }
  .offset-1 {
    margin-top: 0px;
    margin-right: 0px;
  }
  .name-product-order,
  .price-checkout {
    font-size: 0.8em;
  }
  .name-product-order {
  }
  .container-xxl {
    padding: 0;
  }
  .check-out-img {
    width: 80%;
    height: 50px;
  }
  .checkout-badge {
    width: 18px;
    height: 18px;
    left: 50px;
  }
  .text-quantity {
    font-size: 0.8em;
    width: 15px !important;
    height: 15px;
    margin-top: -3px;
    margin-left: -6px;
  }
  .name-product {
    margin-top: 2px;
    font-size: 0.8em;
    width: 7rem;
  }
  .total-price-one {
    font-size: 0.8em;
    margin-top: 7px;
  }
  .price-of-product {
    font-size: 0.8em;
    margin: 2px 0px !important;
    width: 100%;
  }
  .total-price-end h4,
  .total-price-end h5 {
    font-size: 0.7em;
  }
  .total-coupon h4,
  .total-coupon h5 {
    font-size: 0.7em;
  }
  .total-amount h4,
  .total-amount h5 {
    font-size: 0.7em;
  }
  .total-amount {
    padding: 0px 3px !important;
  }
  .button-order {
    margin: 8px 0px !important;
  }
  .button-order button {
    font-size: 0.7em;
    padding: 5px 10px !important;
  }
  .checkout-wrapper {
    padding: 0px 0px !important;
  }
}

@media (max-width: 800px) {
  .general-order {
    flex-direction: column;
    align-items: stretch;
    margin: auto;
  }
  .col-5,
  .col-6 {
    width: 100%;
  }
  .checkout-form-wrapper {
    padding: 3px 5px !important;
  }
  .website-name {
    font-size: 0.8em;
    width: 100% !important;
    margin-top: 5px;
    margin-bottom: -9px !important;
  }
  .font-size-top {
    font-size: 0.8em;
  }
  .ic_edit_order {
    width: 15px;
    height: 15px;
  }
  .info-customer {
    padding: 0px 5px;
    margin-top: -15px;
  }
  .form-group label,
  .form-group-note label {
    font-size: 0.8em;
  }
  .form-group {
    margin-top: 5px !important;
  }
  .form-control {
    font-size: 0.7em;
    padding: 0px 5px;
  }
  .form-group-note {
    margin-top: 5px !important;
  }
  .form-group-note .form-control-note {
    font-size: 0.8em !important;
    padding: 2px 5px;
    height: auto;
  }
  .form-group-note textarea::placeholder {
    font-size: 0.9em !important;
  }
  .form-group-note textarea {
    font-size: 0.8em !important;
  }
  .form-group-voucher {
    margin-top: 0 !important;
  }
  .form-group-voucher input::placeholder {
    font-size: 0.9em !important;
    color: #888;
  }
  .form-group-voucher input {
    font-size: 0.8em !important;
    height: auto;
  }
  .form-group-voucher .form-control-coupon {
    padding: 0px 5px;
    margin-top: 0px !important;
  }
  .form-group-voucher button {
    font-size: 0.6em;
  }
  .payment-method {
    margin-top: 15px !important;
  }
  .payment-method h5 {
    font-size: 0.9em;
  }
  .form-check {
    font-size: 0.8em;
  }
  .button-go-to-cart button {
    padding: 2px 5px;
    font-size: 0.8em;
  }
  .button-go-to-cart {
    margin-top: -25px;
  }
  .offset-1 {
    margin: 15px auto;
  }
  .name-product-order,
  .price-checkout {
    font-size: 0.8em;
  }
  .name-product-order {
  }
  .container-xxl {
    padding: 0;
  }
  .check-out-img {
    width: 80%;
    height: 50px;
  }
  .checkout-badge {
    width: 18px;
    height: 18px;
    left: 50px;
  }
  .text-quantity {
    font-size: 0.8em;
    width: 15px !important;
    height: 15px;
    margin-top: -3px;
    margin-left: -6px;
  }
  .name-product {
    margin-top: 2px;
    font-size: 0.8em;
    width: 7rem;
  }
  .total-price-one {
    font-size: 0.8em;
    margin-top: 7px;
  }
  .price-of-product {
    font-size: 0.8em;
    margin: 2px 0px !important;
    width: 100%;
  }
  .total-price-end h4,
  .total-price-end h5 {
    font-size: 0.7em;
  }
  .total-coupon h4,
  .total-coupon h5 {
    font-size: 0.7em;
  }
  .total-amount h4,
  .total-amount h5 {
    font-size: 0.7em;
  }
  .total-amount {
    padding: 0px 3px !important;
  }
  .button-order {
    margin: 8px 0px !important;
  }
  .button-order button {
    font-size: 0.7em;
    padding: 5px 10px !important;
  }
  .checkout-wrapper {
    padding: 0px 0px !important;
  }
}

@media (max-width: 600px) {
  .general-order {
    flex-direction: column;
    align-items: stretch;
    margin: auto;
  }
  .col-5,
  .col-6 {
    width: 100%;
  }
  .checkout-form-wrapper {
    padding: 3px 5px !important;
  }
  .website-name {
    font-size: 0.7em;
    width: 100% !important;
    margin-top: 5px;
    margin-bottom: -9px !important;
  }
  .font-size-top {
    font-size: 0.7em;
  }
  .ic_edit_order {
    width: 15px;
    height: 15px;
  }
  .info-customer {
    padding: 0px 5px;
    margin-top: -15px;
  }
  .form-group label,
  .form-group-note label {
    font-size: 0.7em;
  }
  .form-group {
    margin-top: 5px !important;
  }
  .form-control {
    font-size: 0.6em;
    padding: 0px 5px;
  }
  .form-group-note {
    margin-top: 5px !important;
  }
  .form-group-note .form-control-note {
    font-size: 0.7em !important;
    padding: 2px 5px;
    height: auto;
  }
  .form-group-note textarea::placeholder {
    font-size: 0.9em !important;
  }
  .form-group-note textarea {
    font-size: 0.7em !important;
  }
  .form-group-voucher {
    margin-top: 0 !important;
  }
  .form-group-voucher input::placeholder {
    font-size: 0.9em !important;
    color: #888;
  }
  .form-group-voucher input {
    font-size: 0.7em !important;
    height: auto;
  }
  .form-group-voucher .form-control-coupon {
    padding: 0px 5px;
    margin-top: 0px !important;
  }
  .form-group-voucher button {
    font-size: 0.5em;
  }
  .payment-method {
    margin-top: 15px !important;
  }
  .payment-method h5 {
    font-size: 0.8em;
  }
  .form-check {
    font-size: 0.7em;
  }
  .button-go-to-cart button {
    padding: 2px 5px;
    font-size: 0.7em;
  }
  .button-go-to-cart {
    margin-top: -25px;
  }
  .offset-1 {
    margin: 15px auto;
  }
  .name-product-order,
  .price-checkout {
    font-size: 0.7em;
  }
  .name-product-order {
  }
  .container-xxl {
    padding: 0;
  }
  .check-out-img {
    height: 50px;
  }
  .checkout-badge {
    width: 15px;
    height: 15px;
  }
  .text-quantity {
    font-size: 0.7em;
    width: 15px !important;
    height: 15px;
    margin-top: -4px;
    margin-left: -7px;
  }
  .name-product {
    margin-top: 2px;
    font-size: 0.8em;
    width: 7rem;
  }
  .total-price-one {
    font-size: 0.8em;
    margin-top: 7px;
  }
  .price-of-product {
    font-size: 0.8em;
    margin: 2px 0px !important;
    width: 100%;
  }
  .total-price-end h4,
  .total-price-end h5 {
    font-size: 0.7em;
  }
  .total-coupon h4,
  .total-coupon h5 {
    font-size: 0.7em;
  }
  .total-amount h4,
  .total-amount h5 {
    font-size: 0.7em;
  }
  .total-amount {
    padding: 0px 3px !important;
  }
  .button-order {
    margin: 8px 0px !important;
  }
  .button-order button {
    font-size: 0.7em;
    padding: 5px 10px !important;
  }
  .checkout-wrapper {
    padding: 0px 0px !important;
  }
}

@media (max-width: 480px) {
  .general-order {
    flex-direction: column;
    align-items: stretch;
    margin: auto;
  }
  .col-5,
  .col-6 {
    width: 100%;
  }
  .checkout-form-wrapper {
    padding: 3px 5px !important;
  }
  .website-name {
    font-size: 0.7em;
    width: 100% !important;
    margin-top: 5px;
    margin-bottom: -9px !important;
  }
  .font-size-top {
    font-size: 0.7em;
  }
  .ic_edit_order {
    width: 15px;
    height: 15px;
  }
  .info-customer {
    padding: 0px 5px;
    margin-top: -15px;
  }
  .form-group label,
  .form-group-note label {
    font-size: 0.7em;
  }
  .form-group {
    margin-top: 5px !important;
  }
  .form-control {
    font-size: 0.6em;
    padding: 0px 5px;
  }
  .form-group-note {
    margin-top: 5px !important;
  }
  .form-group-note .form-control-note {
    font-size: 0.7em !important;
    padding: 2px 5px;
    height: auto;
  }
  .form-group-note textarea::placeholder {
    font-size: 0.9em !important;
  }
  .form-group-note textarea {
    font-size: 0.7em !important;
  }
  .form-group-voucher {
    margin-top: 0 !important;
  }
  .form-group-voucher input::placeholder {
    font-size: 0.9em !important;
    color: #888;
  }
  .form-group-voucher input {
    font-size: 0.7em !important;
    height: auto;
  }
  .form-group-voucher .form-control-coupon {
    padding: 0px 5px;
    margin-top: 0px !important;
  }
  .form-group-voucher button {
    font-size: 0.5em;
  }
  .payment-method {
    margin-top: 15px !important;
  }
  .payment-method h5 {
    font-size: 0.8em;
  }
  .form-check {
    font-size: 0.7em;
  }
  .button-go-to-cart button {
    padding: 2px 5px;
    font-size: 0.7em;
  }
  .button-go-to-cart {
    margin-top: -25px;
  }
  .offset-1 {
    margin: 15px auto;
  }
  .name-product-order,
  .price-checkout {
    font-size: 0.7em;
  }
  .name-product-order {
  }
  .container-xxl {
    padding: 0;
  }
  .check-out-img {
    height: auto;
  }
  .checkout-badge {
    width: 15px;
    height: 15px;
  }
  .text-quantity {
    font-size: 0.7em;
    width: 15px !important;
    height: 15px;
    margin-top: -4px;
    margin-left: -7px;
  }
  .name-product {
    margin-top: 0;
    font-size: 0.8em;
    width: 3rem;
    padding-top: 2px !important;
  }
  .total-price-one {
    font-size: 0.8em;
    padding: 0px 0px !important;
  }
  .price-of-product {
    font-size: 0.8em;
    padding-top: 0 !important;
    margin: 2px 0px !important;
    width: 100%;
  }
  .total-price-end h4,
  .total-price-end h5 {
    font-size: 0.7em;
  }
  .total-coupon h4,
  .total-coupon h5 {
    font-size: 0.7em;
  }
  .total-amount h4,
  .total-amount h5 {
    font-size: 0.7em;
  }
  .total-amount {
    padding: 0px 3px !important;
  }
  .button-order {
    margin: 8px 0px !important;
  }
  .button-order button {
    font-size: 0.7em;
    padding: 5px 10px !important;
  }
  .checkout-wrapper {
    padding: 0px 0px !important;
  }
}

@media (max-width: 320px) {
  .general-order {
    flex-direction: column;
    align-items: stretch;
    margin: auto;
  }
  .col-5,
  .col-6 {
    width: 100%;
  }
  .checkout-form-wrapper {
    padding: 3px 5px !important;
  }
  .website-name {
    font-size: 0.7em;
    width: 100% !important;
    margin-top: 5px;
    margin-bottom: -9px !important;
  }
  .font-size-top {
    font-size: 0.7em;
  }
  .ic_edit_order {
    width: 15px;
    height: 15px;
  }
  .info-customer {
    padding: 0px 5px;
    margin-top: -15px;
  }
  .form-group label,
  .form-group-note label {
    font-size: 0.7em;
  }
  .form-group {
    margin-top: 5px !important;
  }
  .form-control {
    font-size: 0.6em;
    padding: 0px 5px;
  }
  .form-group-note {
    margin-top: 5px !important;
  }
  .form-group-note .form-control-note {
    font-size: 0.7em !important;
    padding: 2px 5px;
    height: auto;
  }
  .form-group-note textarea::placeholder {
    font-size: 0.9em !important;
  }
  .form-group-note textarea {
    font-size: 0.7em !important;
  }
  .form-group-voucher {
    margin-top: 0 !important;
  }
  .form-group-voucher input::placeholder {
    font-size: 0.9em !important;
    color: #888;
  }
  .form-group-voucher input {
    font-size: 0.7em !important;
    height: auto;
  }
  .form-group-voucher .form-control-coupon {
    padding: 0px 5px;
    margin-top: 0px !important;
  }
  .form-group-voucher button {
    font-size: 0.5em;
  }
  .payment-method {
    margin-top: 15px !important;
  }
  .payment-method h5 {
    font-size: 0.8em;
  }
  .form-check {
    font-size: 0.7em;
  }
  .button-go-to-cart button {
    padding: 2px 5px;
    font-size: 0.7em;
  }
  .button-go-to-cart {
    margin-top: -25px;
  }
  .offset-1 {
    margin: 15px auto;
  }
  .name-product-order,
  .price-checkout {
    font-size: 0.7em;
  }
  .name-product-order {
  }
  .container-xxl {
    padding: 0;
  }
  .check-out-img {
    height: auto;
  }
  .checkout-badge {
    width: 15px;
    height: 15px;
  }
  .text-quantity {
    font-size: 0.7em;
    width: 15px !important;
    height: 15px;
    margin-top: -4px;
    margin-left: -7px;
  }
  .name-product {
    margin-top: 0;
    font-size: 0.8em;
    width: 3rem;
    padding-top: 2px !important;
  }
  .total-price-one {
    font-size: 0.8em;
    padding: 0px 0px !important;
  }
  .price-of-product {
    font-size: 0.8em;
    padding-top: 0 !important;
    margin: 2px 0px !important;
    width: 100%;
  }
  .total-price-end h4,
  .total-price-end h5 {
    font-size: 0.7em;
  }
  .total-coupon h4,
  .total-coupon h5 {
    font-size: 0.7em;
  }
  .total-amount h4,
  .total-amount h5 {
    font-size: 0.7em;
  }
  .total-amount {
    padding: 0px 3px !important;
  }
  .button-order {
    margin: 8px 0px !important;
  }
  .button-order button {
    font-size: 0.7em;
    padding: 5px 10px !important;
  }
  .checkout-wrapper {
    padding: 0px 0px !important;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's on top of other content */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
