.footer {
    color: rgb(196, 194, 194);
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 8vw;
    padding-top: 40px;
    margin-top: 150px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 2fr;
    gap: 80px;
}

.img-logo-footer {
    width: 100%;
    height: 90%;
}

.ul-icon-social {
    width: 120px;
    height: 60px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.facebook, .tiktok, .youtube {
    width: 100%;
    height: 100%;
}

.img-logo-footer img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.footer-content-right, .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-content-left li, .footer-content-right li, .footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-content-left h2, .footer-content-right h2, .footer-content-center h2 {
    color: white;
}

.footer-content-left li {
    font-size: 30px;
}

.footer-content-left li > * {
    margin-right: 12px;
}

.footer-content-left li > *:last-child {
    margin-right: 0;
}

.footer-content-left .facebook:hover,
.footer-content-left .tiktok:hover,
.footer-content-left .youtube:hover,
.footer-content-center .li-home:hover,
.footer-content-center .li-aboutus:hover {
    color: tomato;
    cursor: pointer;
}

.footer-content-right .address {
    margin-right: 10px;
}

.footer hr {
    width: 100%;
    height: 1px;
    margin: 20px 0px;
    background-color: grey;
    border: none;
}

@media (max-width:1050px) {
    .footer .img-logo-footer {
        width: 150px;
    }
    .footer-content-left h2,
    .footer-content-right h2,
    .footer-content-center h2 {
        font-size: 15px;
    }
    .footer-content-left li {
        font-size: 23px;
    }
}

@media (max-width:900px) {
    .footer {
        padding: 30px 2vw;
    }
    .footer-content {
        grid-template-columns: 1fr 2fr 2fr 3fr;
        gap: 12px;
    }
    .footer .img-logo-footer {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }
    .footer-content-left h2,
    .footer-content-right h2,
    .footer-content-center h2 {
        font-size: 20px;
    }
}

@media (max-width:750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer .img-logo-footer {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }
    .footer-copyright {
        text-align: center;
    }
}