.breadcrumb {
  margin-top: 15px;
}

.link a {
  text-decoration: none;
  color: black;
}

.link a:hover {
  color: tomato;
}

@media (max-width: 320px) {
  .breadcrumb {
    font-size: 0.7em;
  }
}

.breadcrumb-item.active {
}
