.login {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}

.login-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.login-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-title .icon-closeicon-close {
  cursor: pointer;
}

.login-title .icon-closeicon-close:hover {
  color: tomato;
}

.login-title .icon-closeicon-close:hover {
  color: black;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-input input {
  width: 100%;
  outline: none;
  border: 1px solid #d2d2d2;
  padding: 10px;
  border-radius: 4px;
}

.login-input input:focus {
  border: 1px solid tomato;
}

.login-input .login-password {
  position: relative;
  width: 100%;
}

.login-input .login-password .login_ic_eye {
  position: absolute;
}

.login-container .login-form-button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 0.9rem;
  cursor: pointer;
}

.login-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login-condition input {
  margin-top: 5px;
}

.part-end-login p {
  margin-bottom: 0px;
}

.part-end-login p span {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}

.part-end-login p span:hover {
  color: rgb(255, 148, 129);
}

.login-password input {
  width: 100%;
  padding-right: 2.5rem;
}

.login_ic_eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.button-login button {
  width: 85%;
}

.button-login .login-button:hover {
  background-color: rgb(255, 148, 129);
}

.forgot-pass {
  margin-top: -25px;
}

.forgot-pass p {
  color: black;
  font-size: 500;
  width: fit-content;
  margin-left: auto;
}

.forgot-pass p:hover {
  color: rgb(61, 190, 255);
  cursor: pointer;
}

.part-end-login {
  margin-top: -25px;
}

.button-google {
  background: linear-gradient(
    55deg,
    #4285f4,
    #34a853,
    tomato
  ); /* Các màu của Google */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

.button-google:hover {
  background: linear-gradient(
    55deg,
    tomato,
    #0a9f49,
    #4285f4
  ); /* Thay đổi màu khi hover */
  color: #fff;
}

@media (max-width:1024px) {
  .part-end-login p {
    margin-top: 20px;
    margin-bottom: -10px !important;
  }
}

@media (max-width: 800px) {
  .login-container {
    width: max(23vw, 280px) !important;
    font-size: 0.7em !important;
  }
  .login-input input {
    margin-top: -10px;
  }
  .button-login button {
    font-size: 0.9em !important;
  }
  .text-or-login {
    text-align: center !important;
  }
}

@media (max-width: 600px) {
  .login_ic_eye {
    margin-top: -5px;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: max(20vw, 250px) !important;
    font-size: 0.6em !important;
  }
}

@media (max-width: 320px) {
  .login-container {
    width: max(20vw, 230px) !important;
    padding: 15px !important;
  }
  .login-email,
  .login-password {
    margin-top: -5px;
  }
  .login-email input,
  .login-password input {
    padding: 5px !important;
  }
  .login_ic_eye {
    margin-top: -3px;
  }
  .login-button {
    margin-top: -20px !important;
  }
  .login-container .login-button,
  .login-container .button-google {
    padding: 8px !important;
  }
  .login-title h2 {
    font-size: 16px;
  }
}
