@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body {
    padding-top: 150px;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    flex: 1;
}

@media (max-width: 1280px) {
    body {
        padding-top: 110px;
    }
}

@media (max-width: 1025px) {
    body {
        padding-top: 120px;
    }
}

@media (max-width: 854px) {
    body {
        padding-top: 85px;
    }
}

@media (max-width: 821px) {
    body {
        padding-top: 85px;
    }
}

@media (max-width: 769px) {
    body {
        padding-top: 89px;
    }
}

@media (max-width: 416px) {
    body {
        padding-top: 61px;
    }
}

@media (max-width: 376px) {
    body {
        padding-top: 61px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.link {
    text-decoration: none;
    color: inherit;
}

.app {
    width: 80%;
    margin: auto;
}

@media (max-width: 1025px) {
    .app {
        margin-top: 25px;
        min-height: 52vh !important;

    }
}

@media(max-width:480px) {
    .app {
        margin-top: 50px;
    }
}

.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
  

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}